{% extends 'base.html' %}
{% load static %}

{% block title %} {{thisTable.name}} {% endblock %}

{% block content %}
    <h2>{{thisTable.name}}</h2>

    <div>
        Here are your schedules
        <hr/>
        {% for schedule in userSchedules %}
            <p>
                <a href="../../{{schedule.get_absolute_url}}/schedule">
                    {{schedule}}
                </a>
            </p>
            <hr/>
        {% endfor %}
    </div>

    <div>
        <a href="../edit/">
            <button>Edit Schedule</button>
        </a>
    </div>

    {% comment %} Add form method here soon {% endcomment %}
    <form method="">
        {% csrf_token %}
        <input type="submit" value="Delete Table">
    </form>

    <div>
        <a href="../../">Back to List of Schedule Tables</a>
    </div>
{% endblock %}
