{% extends 'schedo.html' %}
{% load static %}

{% block title %} {{thisTable.name}} {% endblock %}

{% block content %}
    <h2>{{thisTable.name}}</h2>

    <div>
        Here are your schedules
        <hr/>
        {% for schedule in userSchedules %}
            <p>
                {{schedule}}
            </p>
            <hr/>
        {% endfor %}
    </div>

    <div>
        <a href="../edit/">
            <button>Edit Schedule</button>
        </a>
    </div>

    <div>
        <a href="../../">Back to List of Schedule Tables</a>
    </div>
{% endblock %}