{% extends 'base.html' %}
{% load static %}



{% block title %}VizProf: {{ object }} {% endblock %}

{% block header %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block content %}

<p><a href="{% url 'profs_to_pick:vizprof-search' %}">Back to Search Page</a></p>

<!--Professor Details-->
<h2>{{ object }}</h2>
<strong><i>{{ object.department }}</i></strong>

<div id="overall_sentiment">
    <h3>Overall Sentiment</h3>
    <canvas id="overallSentiment"></canvas>

    <script>
        let sentiment_data = JSON.parse('{{ sentiment_data|safe }}');

        let b = document.getElementById('overallSentiment').getContext('2d');
        let overallSentiment = new Chart(b, {
            type: 'doughnut',
            data: {
                labels: sentiment_data.sentiment,
                datasets: [
                    {
                        label: 'Count',
                        data: sentiment_data.count,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    },
                ]
            },
        });
    </script>
</div>

<div id="reviews">

    <h3>Student Reviews:</h3>
    <table>

        <tr>
            <th>Subject</th>
            <th>Review</th>
            <th>Sentiment</th>
        </tr>

        {% for review in reviews %}
        {% if object == review.professor %}
        <tr>
            <td>{{ review.subject }}</td>
            <td>{{ review.review }}</td>
            <td>{{ review.sentiment }}</td>
        </tr>
        {% endif %}
        {% endfor %}

    </table>

</div>

{% endblock %}