{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block headImports %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<body style = 
    "background: linear-gradient(180deg,  #172554 0%, #1E40AF 100%);
    color: #FFF;
    font-family: Inter;
    ">
<div class = "container vh-100">
    <div class = "row" style = "gap: 1%; height: 95%;">
        <div class = "col-7" style = "
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1%;">
            <div class="row">
                <div class="col"
                style = "
                display: flex;
                padding: 30px 32px;
                justify-content: space-between;
                align-items: flex-end;
                border-radius: 45px;
                border: 2px solid #EFF6FF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(36.45000076293945px);">
                    <h1 style = "color: #fff;
                    font-size: 72px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 90px;
                    letter-spacing: -1.44px;">
                        Welcome, <br> <b>{{ user.username }}!</b>
                    </h1>
                    <img src="{% static 'Clipboard.png' %}" style = "width: 133px;
                    height: 165px;">
                </div>
            </div>
            <div class = "row" style = "
                display: flex;
                gap: 0.5%;
                flex-wrap: nowrap;
                flex-direction: row;
                height: 100%;">
                <div class = "col-4"
                    style = "
                    display: flex;
                    flex-direction: column;
                    gap: 2%;
                    align-content: stretch;">
                    <div class = "row"
                        style="
                        flex-grow: 1;">
                        <div class = "col"
                            style = "
                            display: flex;
                            padding: 30px 32px;
                            justify-content: space-between;
                            align-items: flex-end;
                            border-radius: 45px;
                            border: 2px solid #EFF6FF;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(36.45000076293945px);">
                            <h3>Current Units</h3>
                        </div>
                    </div>
                    <div class = "row"
                        style="
                        flex-grow: 1;">
                        <div class = "col"
                            style = "
                            display: flex;
                            padding: 30px 32px;
                            justify-content: space-between;
                            align-items: flex-end;
                            border-radius: 45px;
                            border: 2px solid #EFF6FF;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(36.45000076293945px);">
                            <h3>Completed Units</h3>
                        </div>
                    </div>
                </div>
                <div class = "col-4"
                    style = "
                    display: flex;
                    padding: 30px 32px;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-radius: 45px;
                    border: 2px solid #EFF6FF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(36.45000076293945px);">
                    <h2>Units Completed, Percentage</h2>
                </div>
                <div class = "col-4"
                    style = "
                    display: flex;
                    flex-direction: column;
                    gap: 2%;
                    align-content: stretch;">
                    <div class = "row"
                        style="
                        flex-grow: 1;">
                        <div class = "col"
                            style = "
                            display: flex;
                            padding: 30px 32px;
                            justify-content: space-between;
                            align-items: flex-end;
                            border-radius: 45px;
                            border: 2px solid #EFF6FF;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            backdrop-filter: blur(36.45000076293945px);">
                            <h3>Upload IPS</h3>
                        </div>
                    </div>
                    <div class = "row"
                        style="
                        flex-grow: 1;">
                        <div class = "col"
                        style = "
                        display: flex;
                        padding: 26px 26px;
                        justify-content: space-between;
                        align-items: flex-end;
                        border-radius: 45px;
                        border: 6px solid #121471;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(36.45000076293945px);">
                            <a href ="{% url 'dashboard:grades-list' %}"
                            style = "
                            color: #FFF;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-size: 44px;
                            font-style: normal;
                            font-weight: 700;
                            text-decoration: none;
                            line-height: normal;">View Grades</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row" 
            style = "
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.5%;">
                <div class = "col-6"
                    style = "
                    display: flex;
                    padding: 26px 26px;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-radius: 45px;
                    border: 6px solid #121471;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(36.45000076293945px);">
                    <img src = "{% static 'Calendar.png' %}" style = "width: 120px;">
                    <a href ="{% url 'schedo:landing' %}"
                    style = "
                    color: #FFF;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                    text-decoration: none;
                    line-height: normal;">Schedo</a>
                </div>
                <div class = "col-6"
                    style = "
                    display: flex;
                    padding: 26px 26px;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-radius: 45px;
                    border: 6px solid #121471;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(36.45000076293945px);">
                    <img src = "{% static 'VizProf.png' %}" style = "width: 120px; height: 120px;">
                    <a href = "#" 
                    style = "
                    color: #FFF;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                    text-decoration: none;
                    line-height: normal;">
                        VizProf
                    </a>
                </div>
            </div>
        </div>
        <div class = "col-4"
        style = "display: flex;
            width: 497px;
            height: 600px;
            gap: 2%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;">
            <div class ="row" style = "gap: 2%;">
                <div class = "col" style = "
                    padding: 30px 32px;
                    border-radius: 45px;
                    border: 2px solid #EFF6FF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(36.45000076293945px);">
                    <!-- <div class="dean-list">
                        <h3>Dean's Lister Award</h3>
                        <p>{{ dean_list }}</p>
                    </div>
                    
                    {% for s in semester %}
                    {{ s }}
                    {% endfor %}
                    
                    {% for q in qpi %}
                    {{ q }}
                    {% endfor %} -->
                    <h3>Honors Possibility</h3>
                    
                </div>
                <div class = "col" style = "gap: 2%;">
                    <div class = "row"
                        style = "
                        padding: 30px 32px;
                        border-radius: 45px;
                        border: 2px solid #EFF6FF;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(36.45000076293945px);">
                        <div class="cumulative-qpi">
                            <h3>Cumulative QPI</h3>
                            <p>{{ cumulative_qpi }}</p>
                        </div>
                    </div>
                    <div class = "row"
                        style = "
                        margin-top: 2%;
                        padding: 30px 30px;
                        border-radius: 45px;
                        border: 2px solid #EFF6FF;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(36.45000076293945px);">
                        <!-- <div class="latest-qpi">
                            <h3>Latest Semestral QPI</h3>
                            <p>{{ latest_qpi }}</p>
                        </div> -->
                        <h4>QPI by Semester</h4>

                        <canvas id="qpiBySem">
                        </canvas>

                        <script>
                            let semester = JSON.parse('{{ semester|safe }}');
                            let qpi = JSON.parse('{{ qpi|safe }}');

                            // Creating line chart
                            let a = document.getElementById('qpiBySem').getContext('2d');
                            let qpiBySem = new Chart(a, {
                                type: 'line',
                                data: {
                                    labels: semester,
                                    datasets: [
                                        {
                                            label: 'QPI',
                                            data: qpi,
                                            fill: false,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                        },
                                    ]
                                },
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class = "row" style = "align-self: stretch;">
                <!-- <div class="grades-table table" style = "
                    padding: 31px 36px;
                    border-radius: 45px;
                    border: 2px solid #EFF6FF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(36.45000076293945px);
                    align-self: stretch;">
                    <table>
                
                        <tr>
                            {% for column in df.columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                
                        {% for row in df.values %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                
                    </table> -->
                    <div style = "
                        display:flex;
                        flex-direction: row;
                        padding: 30px 32px;
                        border-radius: 45px;
                        border: 2px solid #EFF6FF;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        backdrop-filter: blur(36.45000076293945px);
                        align-self: stretch;">

                        <h3 style = "align-self: center;">Cumulative Letter Grade Frequency</h3>
                        <div style = "width:fit-content; height: fit-content;">

                            <canvas id="letterFreq" width="200" height="50">
                            </canvas>
                            
                            <script>
                                let final_grade = JSON.parse('{{ final_grade|safe }}');
                                let subject_code = JSON.parse('{{ subject_code|safe }}');
                            
                                // Creating line chart
                                let b = document.getElementById('letterFreq').getContext('2d');
                                let letterFreq = new Chart(b, {
                                    type: 'doughnut',
                                    data: {
                                        labels: final_grade,
                                        datasets: [
                                            {
                                                label: 'Subject Code',
                                                data: subject_code,
                                                backgroundColor: [
                                                    'rgb(255, 99, 132)',
                                                    'rgb(54, 162, 235)',
                                                    'rgb(255, 205, 86)'
                                                ],
                                                hoverOffset: 4
                                            },
                                        ]
                                    },
                                });
                            </script>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!--Cumulative QPI-->

<div class="cumulative_qpi">
    <h2>Cumulative QPI</h2>
    <p>{{ cumulative_qpi }}</p>
</div>

<!--Latest Semestral QPI-->

<div class="latest_qpi">
    <h2>Latest Semestral QPI</h2>
    <p>{{ latest_qpi }}</p>
</div>

<!--Dean's Lister Award-->

<div class="dean_list">
    <h2>Dean's Lister Award</h2>
    <p>{{ dean_list }}</p>
</div>


<!--Latin Honors Eligibility-->

<div class="latin_honors_eligibility">

    <h2>Latin Honors Eligibility</h2>

    <form id="input_form" method="post">
        {% csrf_token %}

        <p>How many are your computable units left?</p>
        <input type="number" id="remaining_units" name="remaining_units" value="0">
        <p>Check Eligibility</p>
        <select id="lh_dropdown" name="lh_input">
            <option value="cum_laude">Cum Laude</option>
            <option value="magna_cum_laude">Magna Cum Laude</option>
            <option value="summa_cum_laude">Summa Cum Laude</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>

    <div id="output_ctr">
        <h3>Remaining Units:</h3> <span id="remaining">{{remaining_units}}</span>
        <h3>Completed Units:</h3> <span id="completed">{{completed_units}}</span>
        <h3>IPS Progress:</h3> <span id="completed">{{ips_progress}}%</span>

        {% comment %}
        <canvas id="ipsProgress"></canvas>

        <script>
            let percent = JSON.parse('{{ percent|safe }}');

            // Creating line chart
            let c = document.getElementById('ipsProgress').getContext('2d');
            let ipsProgress = new Chart(c, {
                type: 'bar',
                data: {
                    labels: ['Progress'],
                    datasets: [{
                        data: [percent], // Set the initial progress value (e.g., 75%)
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        barPercentage: 0.5
                    }]
                },
                options: {
                    indexAxis: 'y',
                    responsive: false,
                    scales: {
                        x: {
                            display: false,
                            ticks: {
                                beginAtZero: true,
                                max: 100
                            }
                        },
                        y: {
                            display: false
                        },
                    },
                },
            });
        </script>
    </div>
    {% endcomment %}

    {% comment %}
    <script>
        $(document).ready(function () {
            $('#input_form').submit(function (e) {
                e.preventDefault();
                var remaining_units = $('#remaining_units').val();

                console.log("Remaining Units:", remaining_units);

                $.ajax({
                    type: 'POST',
                    url: '',
                    data: {
                        remaining_units: remaining_units,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        // Log the response data to the console
                        console.log("Response Data:", data);

                        if (data.remaining_units !== undefined) {
                            // Update the value of the span element with the id 'result1'
                            $('#remaining').text(data.remaining_units);
                        } else {
                            console.error("Error: No 'remaining_units' found in response data.");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Log any errors to the console
                        console.error("AJAX Error:", error);
                    }
                });
            });
        });
    </script>

    {% endcomment %}

</div>



{% endblock %}