{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block header %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

<!--Welcome Greeting-->

<h1>Welcome, User!</h1>

<!--View Grade Table-->

<div class="grades_table">
    <table>

        <tr>
            {% for column in df.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>

        {% for row in df.values %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>

<!--Cumulative QPI-->

<div class="cumulative_qpi">
    <h2>Cumulative QPI</h2>
    <p>{{ cumulative_qpi }}</p>
</div>

<!--Latest Semestral QPI-->

<div class="latest_qpi">
    <h2>Latest Semestral QPI</h2>
    <p>{{ latest_qpi }}</p>
</div>

<!--Dean's Lister Award-->

<div class="dean_list">
    <h2>Dean's Lister Award</h2>
    <p>{{ dean_list }}</p>
</div>


<h2>QPI by Semester</h2>

<canvas id="qpiBySem"></canvas>

<script>
    let semester = JSON.parse('{{ semester|safe }}');
    let qpi = JSON.parse('{{ qpi|safe }}');

    let a = document.getElementById('qpiBySem').getContext('2d');
    let qpiBySem = new Chart(a, {
        type: 'line',
        data: {
            labels: semester,
            datasets: [
                {
                    label: 'QPI',
                    data: qpi,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.3
                },
            ]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

<h2>Cumulative Letter Grade Frequency</h2>

<canvas id="letterFreq"></canvas>

<script>
    let final_grade = JSON.parse('{{ final_grade|safe }}');
    let subject_code = JSON.parse('{{ subject_code|safe }}');

    let b = document.getElementById('letterFreq').getContext('2d');
    let letterFreq = new Chart(b, {
        type: 'doughnut',
        data: {
            labels: final_grade,
            datasets: [
                {
                    label: 'Subject Code',
                    data: subject_code,
                    backgroundColor: [
                        '#073376',
                        '#046E94',
                        '#29B2A0',
                        '#FFCC33',
                        '#F3D643',
                        '#FFAE42',
                        '#C36721'
                    ],
                    hoverOffset: 4
                },
            ]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

<!--Latin Honors Eligibility-->

<div class="latin_honors_eligibility">

    <h2>Latin Honors Eligibility</h2>

    <form id="input_form" method="post">
        {% csrf_token %}

        <p>How many are your computable units left?</p>
        <input type="number" id="remaining_units" name="remaining_units" value="0">
        <p>Check Eligibility</p>
        <select id="honor" name="honor">
            <option value="Honorable Mention">Honorable Mention</option>
            <option value="Cum Laude">Cum Laude</option>
            <option value="Magna Cum Laude">Magna Cum Laude</option>
            <option value="Summa Cum Laude">Summa Cum Laude</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>

    <div id="output_ctr">

        <h3>IPS Progress</h3>
        <strong><span id="progress">{{ ips_progress }}%</span></strong>
        <p>
            You're making excellent progress!
            <span id="completed">{{ completed_units }}</span> units down,
            <span id="remaining">{{ remaining_units }}</span> more units to go!
        </p>

        <h3><span id="honor_chosen">{{ honor }}</span> is ... <br></h3>
        <strong><span id="eligibility">{{ eligibility_text }}</span></strong>
        <p>
            To achieve this,
            get a minimum QPI of <span id="minimum">{{ minimum_required }}</span>
            on your remaining <span id="remaining">{{ remaining_units }}</span> units.
        </p>
        <p>
            Highest Attainable: <span id="highest">{{ highest_possible }}</span><br>
            Honor Range: <span id="honor_min">{{ honor_min }}</span> to <span id="honor_max">{{ honor_max }}</span>
        </p>
    </div>

    {% comment %}
    <script>
        $(document).ready(function () {
            $('#input_form').submit(function (e) {
                e.preventDefault();
                var remaining_units = $('#remaining_units').val();

                console.log("Remaining Units:", remaining_units);

                $.ajax({
                    type: 'POST',
                    url: '',
                    data: {
                        remaining_units: remaining_units,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        // Log the response data to the console
                        console.log("Response Data:", data);

                        if (data.remaining_units !== undefined) {
                            // Update the value of the span element with the id 'result1'
                            $('#remaining').text(data.remaining_units);
                        } else {
                            console.error("Error: No 'remaining_units' found in response data.");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Log any errors to the console
                        console.error("AJAX Error:", error);
                    }
                });
            });
        });
    </script>

    {% endcomment %}

</div>



{% endblock %}