{% extends "base.html" %}
{% load static %}

{% block headImports %}
<script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock %}

{% load render_table from django_tables2 %}
{% load i18n %}


{% block content %}
<body>
    <h1>Select a schedule.</h1>
    <label>Table: </label>
    <select id="userTable">
        {% for t in object_list %}
        <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
    </select>

    <div>
        {% for table in object_list %}
            <p><a href="{{table.get_absolute_url}}/details/">
                {{table.name}} <br/>
                {{table.time_created}}
            </a></p>
            <hr/>
        {% endfor %}
    </div>

    {# The actual table #}
    {% render_table table %}
</body>
{% endblock %}